* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* FONTS STYLE */

:root {
    font-weight: 400;
    font-family: ui-sans-serif,system-ui;
}

.font-display {
    font-family: Wix Madefor Display,ui-sans-serif,system-ui;
}

.semibold {
    font-weight: 600;
}

h1 {
    color: #0f172a;
    letter-spacing: -0.025em;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

p {
    line-height: 1.75;
}

/* HEADER */

header {
    background: #fff;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 50;
    box-shadow: 0 2px 8px rgba(15, 23, 42, 0.08);
    transition: box-shadow 0.3s ease;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    max-width: 86rem;
}

.header-left-block {
    display: flex;
    align-items: center;
}

.burger-btn {
    border: 0;
    background: transparent;
    position: relative;
    cursor: pointer;
    height: 24px;
}

.burger-btn-left {
    margin-right: 0.75rem;
}

.burger-btn svg {
    width: 1.5rem;
    height: 1.5rem;
}

.burger-btn svg path {
    stroke: #64748b;
}

.logo {
    height: 28px;
}

.header-right-block {
    display: flex;
    margin-left: 2rem;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.search {
    width: 100%;
}

.search-content {
    position: relative;
}

.zoom-logo {
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
}

.zoom-logo svg {
    width: 1.25rem;
    height: 1.25rem;
    fill: rgb(148, 163, 184);
}

.input-container input {
    padding: 0.625rem 0.75rem 0.625rem 2.5rem;
    background-color: #fff;
    border: 0;
    box-shadow: inset 0 0 0 1px rgb(203 213 225);
    border-radius: 0.375rem;
    width: 100%;
    line-height: 1.5rem;
}

.input-container input::placeholder {
    color: rgb(148, 163, 184);
    font-size: 1rem;
}

.burger-btn-right {
    margin-left: 1rem;
}

/* MAIN */

.main-container {
    display: flex;
    max-width: 86rem;
    padding: 0 0.5rem;
    margin: 0 auto;
    position: relative;
}

.main-content {
    flex: 1 1 auto;
    padding: 4rem 1rem 0;
    max-width: 42rem;
}

/* ARTICLE HEADER */

.article-header {
    margin-bottom: 2.25rem;
}

.article-theme {
    color: rgb(14 165 233);
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 0.25rem;
}

.author-info {
    display: flex;
    margin-top: 1rem;
}

.author-logo {
    flex: 0 0 auto;
    height: 40px;
}

.author-logo img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.author-desc {
    margin-left: 1rem;
    flex: 1 1 0%;
}

.author-name {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.author-date {
    color: rgb(100 116 139);
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.author-follow-btn {
    margin-left: 1rem;
    flex: none;
}

.author-follow-btn a {
    padding: 0.375rem 0.625rem;
    color: rgb(14 165 233);
    background-color: rgb(240 249 255);
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: .875rem;
    line-height: 1.25rem;
    cursor: pointer;
}

.author-follow-btn a:hover {
    background-color: rgb(224 242 254);
}

.article-desc {
    margin-top: 2.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(71 85 105);
}

/* ARTICLE MAIN */

:where(.article-main) h2 {
    margin-bottom: 1.5rem;
}

:where(.article-main) p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    color: #334155;
}

:where(.article-main) h3 + p {
    margin-top: 0;
}

:where(.article-main) h3 {
    margin: 1.6em 0 .6em;
    font-size: 1.25em;
    line-height: 1.6;
}

:where(.article-main) h4 {
    color: #0f172a;
    margin-top: 1.5em;
    margin-bottom: .5em;
    line-height: 1.5;
    font-family: Wix Madefor Display,ui-sans-serif,system-ui;
    font-weight: 600;
}

pre {
    background-color: rgb(15, 23, 42);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    margin: 24px 0;
    padding: 12px 16px;
    font-size: .875em;
    line-height: 1.5rem;
    border-radius: .75rem;
    color: #e2e8f0;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    overflow-x: auto;
}

pre code {
    font-family: inherit;
    background: none;
    color: inherit;
    padding: 0;
}

/* COLORFUL TABS */

.colorful-tab {
    margin: 2rem 0;
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.colorful-title {
    margin-top: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: .625rem;
    font-weight: 600;
}

.colorful-text-container {
    max-width: 65ch;
}

.colorful-text {
    margin: 0;
}

.yellow-tab h3 {
    color: #713F12;
}

.yellow-tab {
    background-color: rgb(254 252 232);
    color: #854D0E;
}

.blue-tab h3 {
    color: #0C4A6E;
}

.blue-tab {
    background-color: #F0F9FF;
    color:  #075985;
}

.green-tab h3 {
    color: #14532D;
}

.green-tab {
    background-color: #F0FDF4;
    color:  #166534;
}

.red-tab h3 {
    color: #7F1D1D;
}

.red-tab {
    background-color: #FEF2F2;
    color:   #991B1B;
}

hr {
    border: 0;
    border-top: 1px solid rgb(226 232 240);
    margin: 3em 0;
}

.main-article-list {
    list-style: none;
    counter-reset: list;
    padding-left: .5rem;
    margin: 1rem 0;
}

.main-article-list li {
    text-indent: -37px;
    margin-left: 40px;
    margin-top: .74em;
    margin-bottom: .74em;
    counter-increment: list;
    padding-left: 0;
    color: rgb(71 85 105);
    line-height: 1.75;
}

.main-article-list li::before {
    background-color: rgb(224 242 254);
    color: rgb(71 85 105);
    font-size: .875rem;
    margin-right: .75rem;
    width: 1.5rem;
    text-indent: .5rem;
    padding-left: 0;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 100%;
    background-clip: padding-box;
    display: inline-block;
    content: counter(list);
}